<!DOCTYPE html>

<div ng-controller="LoginController as vm">
  <div class="container-fluid">
    <div class="row"> <!-- ::::::: START ROW ::::::: -->


      <div class="col-sm-6"> <!-- ::::::: LOG IN ::::::: -->
        <h3>Log In</h3>
        <form>
          <div class="form-group">
            <label for="Old Username">Username</label>
            <input type="text" ng-model="vm.existing.username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="Old Password">Password</label>
            <input type="password" ng-model="vm.existing.password" class="form-control" placeholder="Password">
          </div>
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <button ng-click="vm.signIn()" type="submit" name="button">Log In</button>
        </form>
      </div>

      <div class="col-sm-6"> <!-- ::::::: REGISTER ::::::: -->
        <h3>Register</h3>
        <form>
          <div class="form-group">
            <label for="New Username">Enter a username</label>
            <input type="text" ng-model="vm.new.username" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="New Password">Password</label>
            <input type="password" ng-model="vm.new.password" class="form-control" placeholder="Password">
          </div>

          <button ng-click="vm.newUser()">Register</button>
        </form>

         user: {{vm.new.username}}, {{vm.new.password}} <!-- debug -->
      </div>

    </div> <!-- ::::::: END ROW ::::::: -->


  </div> <!-- ::::::: END CONTAINER ::::::: -->
</div> <!-- ::::::: END CONTROLLER ::::::: -->
